version: "3"

services:
  # REF: https://github.com/robcowart/docker_compose_cookbook/blob/master/nifi/docker-compose.yml
  nifi:
    build:
      context: .
      args:
        NIFI_VERSION: ${NIFI_VERSION}
    container_name: nifi
    user: root
    restart: unless-stopped
    networks:
      - nifi_network
    ports:
      # - ${NIFI_HTTP_PORT}:8080/tcp
      - ${NIFI_HTTPS_PORT}:8443/tcp
      - 10000
    volumes:
      - ./drivers:/opt/nifi/nifi-current/drivers
      - ./templates:/opt/nifi/nifi-current/templates
      - ./data:/opt/nifi/nifi-current/data
      - ./scripts:/opt/nifi/nifi-current/scripts
    environment:
      TZ: "Asia/Seoul" # Timezone

      NIFI_JVM_HEAP_INIT: ${NIFI_HEAP_INIT} #   The initial JVM heap size.
      NIFI_JVM_HEAP_MAX: ${NIFI_HEAP_MAX} #   The maximum JVM heap size.

      # NIFI_HTTP_PORT: ${NIFI_HTTP_PORT}
      # NIFI_HTTP_HOST: ${NIFI_HTTP_HOST}
      NIFI_HTTPS_PORT: ${NIFI_HTTPS_PORT}
      NIFI_HTTPS_HOST: ${NIFI_HTTP_HOST}
      # NIFI_WEB_PROXY_CONTEXT_PATH: /traefik/,/gateway/nifi/nifi-app/

      SINGLE_USER_CREDENTIALS_USERNAME: admin
      SINGLE_USER_CREDENTIALS_PASSWORD: admin12345678

  # REF: https://github.com/michalklempa/docker-nifi-registry/blob/develop/docker-compose.github.yml
  nifi-registry:
    image: michalklempa/nifi-registry
    build:
      context: ./nifi_registry
      args:
        MIRROR: https://archive.apache.org/dist
        NIFI_VERSION: ${NIFI_VERSION}
    container_name: nifi-registry
    volumes:
      - ~/.ssh:/home/nifi/.ssh
      - ./nifi_registry/flow_storage:/opt/nifi-registry/flow-storage-git
    ports:
      - ${NIFI_REG_HTTP_PORT}:18080/tcp
    environment:
      DEBUG: 1
      GIT_REMOTE_URL: ${GIT_REMOTE_URL}
      GIT_CHECKOUT_BRANCH: ${GIT_CHECKOUT_BRANCH}
      GIT_CONFIG_USER_NAME: ${GIT_CONFIG_USER_NAME}
      GIT_CONFIG_USER_EMAIL: ${GIT_CONFIG_USER_EMAIL}
      FLOW_PROVIDER: git
      FLOW_PROVIDER_GIT_REMOTE_TO_PUSH: ${FLOW_PROVIDER_GIT_REMOTE_TO_PUSH}
      FLOW_PROVIDER_GIT_FLOW_STORAGE_DIRECTORY: /opt/nifi-registry/flow-storage-git
      FLOW_PROVIDER_GIT_REMOTE_ACCESS_USER: ${FLOW_PROVIDER_GIT_REMOTE_ACCESS_USER}
      FLOW_PROVIDER_GIT_REMOTE_ACCESS_PASSWORD: ${FLOW_PROVIDER_GIT_REMOTE_ACCESS_PASSWORD}
    networks:
      - nifi_network

networks:
  nifi_network:
    driver: bridge
