version: '3'

networks:
  frontend:
    ipam:
      config:
        - subnet: ${SUBNET_RANGE}

services:
  namenode:
    image: bde2020/hadoop-namenode:${HADOOP_VERSION}
    container_name: ${NAMENODE_NAME}
    hostname: ${NAMENODE_IP}
    restart: always
    networks:
      frontend:
        ipv4_address: ${NAMENODE_IP}
    ports:
      - ${NAMENODE_PORT1}:9870
      - ${NAMENODE_PORT2}:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./.env.conf

  datanode:
    image: bde2020/hadoop-datanode:${HADOOP_VERSION}
    container_name: ${DATANODE_NAME}
    hostname: ${DATANODE_IP}
    restart: always
    networks:
      frontend:
        ipv4_address: ${DATANODE_IP}
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    ports:
      - 9864:9864
    environment:
      SERVICE_PRECONDITION: '${NAMENODE_NAME}:${NAMENODE_PORT1}'
    env_file:
      - ./.env.conf
  
  resourcemanager:
    image: bde2020/hadoop-resourcemanager:${HADOOP_VERSION}
    container_name: ${RES_MAN_NAME}
    restart: always
    networks:
      frontend:
        ipv4_address: ${RES_MAN_IP}
    ports: 
      - 8088:8088
    environment:
      SERVICE_PRECONDITION: '${NAMENODE_NAME}:${NAMENODE_PORT2} ${NAMENODE_NAME}:${NAMENODE_PORT1} ${DATANODE_NAME}:${DATANODE_PORT}'
    env_file:
      - ./.env.conf

  nodemanager1:
    image: bde2020/hadoop-nodemanager:${HADOOP_VERSION}
    container_name: nodemanager
    restart: always
    networks:
      frontend:
        ipv4_address: ${NODE_MAN1_IP}
    environment:
      SERVICE_PRECONDITION: '${NAMENODE_NAME}:${NAMENODE_PORT1} ${NAMENODE_NAME}:${NAMENODE_PORT2} ${DATANODE_NAME}:${DATANODE_PORT} ${RES_MAN_NAME}:${RES_MAN_PORT}'
    env_file:
      - ./.env.conf
  
  historyserver:
    image: bde2020/hadoop-historyserver:${HADOOP_VERSION}
    container_name: historyserver
    restart: always
    networks:
      frontend:
        ipv4_address: ${HIST_MAN_IP}
    environment:
      SERVICE_PRECONDITION: '${NAMENODE_NAME}:${NAMENODE_PORT1} ${NAMENODE_NAME}:${NAMENODE_PORT2} ${DATANODE_NAME}:${DATANODE_PORT} ${RES_MAN_NAME}:${RES_MAN_PORT}'
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    env_file:
      - ./.env.conf
  
volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver: